<form method="post" action="{{ path('partenaire.delete', {'id': partenaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partenaire.id) }}">
    <button class="btn"class="btn btn-primary" style="background-color: #D199B6" >Supprimer</button>
</form>