{% extends 'base.html.twig' %}

{% block title %}Podcast{% endblock %}

{% block body %}
<div class="container">
    <section class="row  mx-auto">
        <div class="row col-12 mx-auto">
            <h1>Podcasts</h1>
        </div>
        {% for podcast in podcast %}
        <div class="col g-1 py-3">   
            <div class="card mb-3 mx-auto" style="width: 18rem;">
                <img src="{{ asset('upload/'~ podcast.illustration)}}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title text-center ">{{podcast.name}}</h5>
                    <a href="{{path('podcast.show', {'id': podcast.id})}}" class="btn btn-primary" style="background-color: #D199B6" >Voir plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}
